<table class="list">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Alias</th>
    <th>Remover ?</th>
  </tr>

<% @categorias.each do |categoria| %>
  <tr>
    <td width="5%" align="center"><%= link_to categoria.id, edit_administrator_categoria_pagina_path(categoria) %>
    <td><%= link_to categoria.nome, edit_administrator_categoria_pagina_path( categoria ) %></td>
    <td><%= categoria.alias %></td>
    <td width="10%" align="center"><%= link_to image_tag('icons/remove-icon.png', :border => 0, :title => "Remover" ), "/administrator/categorias_pagina/#{categoria.id}", :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= pagination_footer @categorias %>
