<%= form_for([:administrator, @item_menu]) do |f| %>
  <% if @item_menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_menu.errors.count, "erro" ) %>:</h2>

      <ul>
      <% @item_menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="esquerda">
    <div class="field">
      <%= f.label :nome%> 
      <%= f.text_field :nome %>
    </div>
    
    <div class="field">
      <%= f.label :link %> 
      <%= f.text_field :link %>
    </div>
    <div class="field">
      <%= f.label :filtro %> 
      <%= f.text_field :filtro %>
    </div>
    <div class="field">
      <%= f.label :menu_id %> 
      <%= f.select :menu_id, Menu.all.collect{ |m| [m.nome, m.id] }, :include_blank => "-- Selecione um menu --" %>
    </div>
    <div class="field">
      <%= f.label :item_menu_pai, 'Item de menu pai' %> 
      <%= f.select :item_menu_pai, itens_menu_options_for_select(@item_menu), :include_blank => "- Raiz do menu -" %>
    </div>
    <div class="field">
      <%= f.label :alias, "Nome de sistema (preenchimento automático)" %>
      <%= f.text_field :alias %>
    </div>
  </div>
  <div class="direita">
    <div class="field">
      <%= f.label :titulo, "Título" %> 
      <%= f.text_field :titulo %>
    </div>
    <div class="field">
      <%= f.label :palavras_chave, "Palavras chaves (Devem ser separadas por ponto e vírgula)" %> 
      <%= f.text_field :palavras_chave %>
    </div>
    <div class="field">
      <%= f.label :descricao, "Descrição" %> 
      <%= f.text_area :descricao, :rows => 9, :cols => 36 %>
    </div>
  </div>
  <div class="clear"></div>
  <div class="actions">
    <%= link_to "< Voltar", administrator_itens_menu_path(:menu_id => @item_menu.menu_id), :class => 'button cancel' %>
    <%= f.submit :class => 'button', :value => 'Salvar' %>
  </div>
<% end %>
