<table class="list">
  <tr>
    <th><%= I18n.t("admin_itens_menu_id") %></th>
    <th><%= I18n.t("admin_itens_menu_nome") %></th>
    <th><%= I18n.t("admin_itens_menu_alias") %></th>
    <th><%= I18n.t("admin_itens_menu_link") %></th>
    <th><%= I18n.t("admin_itens_menu_filtro") %></th>
    <th><%= I18n.t("admin_itens_menu_menu") %></th>
    <th><%= I18n.t("admin_itens_menu_remover") %>?</th>
  </tr>

<% @itens_menu.each do |item| %>
  <tr class="<%= cycle('linha0','linha1') %>">
    <td width="5%">
      <%= link_to item.id, edit_administrator_item_menu_path(item) %>
    </td>
    <td>
      <%= link_to item.nome, edit_administrator_item_menu_path(item) %>
    </td>
    <td><%= item.alias %></td>
    <td><%= item.link %></td>
    <td><%= item.filtro %></td>
    <td><%= item.menu.nome %></td>
    <td align="center"><%= link_to image_tag('icons/remove-icon.png', :border => 0, :title => I18n.t("admin_itens_menu_remover")), administrator_item_menu_path(item), :confirm => I18n.t("admin_itens_menu_remover_confirmacao"), :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= pagination_footer @itens_menu %>
