<table class="list">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Nome de sistema</th>
    <th>Link</th>
    <th>Filtro</th>
    <th>Menu</th>
    <th>Remover ?</th>
  </tr>

<% @itens_menu.each do |item| %>
  <tr class="<%= cycle('linha0','linha1') %>">
    <td width="5%">
      <%= link_to item.id, edit_administrator_item_menu_path(item) %>
    </td>
    <td>
      <%= link_to item.nome, edit_administrator_item_menu_path(item) %>
    </td>
    <td><%= item.alias %></td>
    <td><%= item.link %></td>
    <td><%= item.filtro %></td>
    <td><%= item.menu.nome %></td>
    <td align="center"><%= link_to image_tag('icons/remove-icon.png', :border => 0, :title => 'Remover'), administrator_item_menu_path(item), :confirm => "Você tem certeza?", :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= pagination_footer @itens_menu %>
