<table class="list">
  <tr>
    <th>ID</th>
    <th>Título</th>
    <th>Categoria</th>
    <th>Conteúdo</th>
    <th>Remover ?</th>
  </tr>

<% @paginas.each do |pagina| %>
  <tr>
    <td width="5%" align="center"><%= link_to pagina.id, edit_administrator_pagina_path(pagina) %>
    <td><%= link_to pagina.titulo, edit_administrator_pagina_path( pagina ) %></td>
    <td><%= pagina.categoria_pagina.nome %></td>
    <td><%= strip_tags pagina.conteudo[0..170] %></td>
    <td width="10%" align="center"><%= link_to image_tag('icons/remove-icon.png', :border => 0, :title => "Remover" ), "/administrator/paginas/#{pagina.id}", :confirm =>   'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= pagination_footer @paginas %>
