<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @pagina.titulo %>
</p>

<p>
  <b>Conteudo:</b>
  <%= @pagina.conteudo %>
</p>


<%= link_to 'Edit', edit_administrator_pagina_path(@pagina) %> |
<%= link_to 'Back', administrator_paginas_path %>
