<%= form_for([:administrator, @menu], :remote => true) do |f| %>
  <div class="field">
    <%= f.label :nome %> 
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :alias, "Nome de sistema (preenchimento automático)" %> 
    <%= f.text_field :alias %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'button', :value => 'Salvar' %>
  </div>
<% end %>
