<table class="list">
  <tr>
    <th>Editar</th>
    <th>Nome</th>
    <th>Nome de sistema</th>
    <th>Remover ?</th>
  </tr>

<% @menus.each do |menu| %>
  <tr class="<%= cycle('linha0','linha1') %>">
    <td width="15%" align="center"><%= link_to image_tag( "backend/icons/edit.png" ), edit_administrator_menu_path(menu), :class => 'lightbox various fancybox.ajax' %></td>
    <td width="50%">
      <%= link_to menu.nome, administrator_itens_menu_path( "menu_id" => menu ) %>
    </td>
    <td>
      <%= menu.alias %>
    </td>
    <td width="15%" align="center"><%= link_to image_tag('lib/qw3/remove-icon.png', :border => 0, :title => "remover"), administrator_menu_path(menu), :confirm => "Você tem certeza?", :method => :delete, :remote => true %></td>
  </tr>
<% end %>
</table>
<%= pagination_footer @menus %>
